<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	
<body>
	<div class="masthead clearfix" th:fragment="navbar">
		<div class="inner">
			<img alt="Desafio Conquer" th:src="@{/images/logo.png}"/>
			<nav>
				<ul class="nav masthead-nav">
					<li th:classappend="${#request.getServletPath() == '/' ? 'active':''}"><a th:href="@{/}">Home</a></li>
					<li th:classappend="${#request.getServletPath() == '/gastospagamentocartao' ? 'active':''}"><a th:href="@{/gastospagamentocartao}">Consulta</a></li>
				</ul>
			</nav>
		</div>
	</div>
</body>
</html>