<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<title>Desafio Conquer</title>

	<link rel="stylesheet" type="text/css" th:href="@{/vendors/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/vendors/bootstrap/css/bootstrap-grid.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/vendors/bootstrap/css/bootstrap-reboot.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/global.css}"/>

	<link rel="shortcut icon" th:href="@{/images/favicon.png}"/>
</head>
<body>
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<div th:replace="layout/header :: navbar"></div>
				<section layout:fragment="conteudo"></section>
				<div th:replace="layout/footer :: layout-footer"></div>
			</div>
			<!-- /cover-container -->
		</div>
		<!-- /site-wrapper-inner -->
	</div>
	<!-- /site-wrapper -->

	<script th:src="@{/vendors/jquery/jquery-3.5.1.js}"></script>
	<script th:src="@{/vendors/bootstrap/js/bootstrap.min.js}"></script>
	<th:block layout:fragment="javascript-extra"></th:block>
</body>
</html>