<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutPadrao}">

<head>
<title>Consulta - Gastos de pagamento por cartão</title>
</head>

<section layout:fragment="conteudo">
	<div class="inner cover">
		<br><br>
		<h1 class="cover-heading">Gastos de pagamento via cartão por município</h1>
		<br><br>
		<div class="lead">
			<form class="form-horizontal" id="form-consulta" th:object="${gastosPagamentoCartaoParamVO}">
				<div align="center">
					<div class="input-group">
						<label class="control-label" for="div-mes-inicial">Mês de extrato inicial:</label>
						<br>
						<div id="div-mes-inicial" class="input-group date">
							<input class="form-control input-sm" size="15" tabindex="40" data-format="MM/yyyy" th:field="*{mesExtratoInicio}" readonly="readonly">
							<span class="add-on">
								<span data-time-icon="glyphicon glyphicon-time" data-date-icon="glyphicon glyphicon-calendar"
									class="glyphicon-calendar glyphicon">
								</span>
							</span>
						</div>
					</div>
					<div class="input-group">
						<label class="control-label" for="div-mes-final">Mês de extrato Final:</label>
						<br>
						<div id="div-mes-final" class="input-group date">
							<input class="form-control input-sm" size="15" tabindex="40" data-format="MM/yyyy" th:field="*{mesExtratoFim}" readonly="readonly">
							<span class="add-on">
								<span data-time-icon="glyphicon glyphicon-time" data-date-icon="glyphicon glyphicon-calendar"
									class="glyphicon-calendar glyphicon">
								</span>
							</span>
						</div>
					</div>
				</div>
				<br><br>
				<div class="form-group">
					<div class="col-sm-12">
						<button class="btn btn-default" id="btn-consultar">Consultar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
<th:block layout:fragment="javascript-extra">
	<script type="text/javascript">
		$(function() {
			$('#btn-consultar').click(btnImprimirRelatorio);
			$('#div-mes-inicial').datetimepicker({
				maskInput : true,
				language : 'pt-BR',
				viewMode : 'years',
				minViewMode : 'months',
				format:'MM/yyyy'
			});
			$('#div-mes-final').datetimepicker({
				maskInput : true,
				language : 'pt-BR',
				viewMode : 'years',
				minViewMode : 'months',
				format:'MM/yyyy'
			});
			
			function btnImprimirRelatorio() {
				loading();
				var data = $('#form-consulta').serialize();
				$.ajax({
					type: 'GET',
					url: 'gastospagamentocartao/consultar',
					data: data,
					success: function(blob) {
						endLoading();
						// aqui implementar regra pra gravar arquivo pro usuário...
						
					},
					error:function(e) {
						endLoading();
						swal("Ops!", e.responseText, "error");
					}
				}).done(function () {
		            //trigger any doc ready scripts we may have just loaded
		            jQuery.ready();
		        });;
				return false;
			}
		});
	</script>
</th:block>
</html>