<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutPadrao}">

<head>
<title>Desafio Conquer - Home</title>
</head>

<section layout:fragment="conteudo">
	<div class="inner cover">
		<br><br><br><br>
        <h1 class="cover-heading">Desafio Conquer Full Stack Developer.</h1>
        <p class="lead">Aplicação web criada para resolver um desafio da Conquer. O mesmo consiste em se conectar na API do Portal Transparência do governo federal e buscar uma lista de pagamentos efetuados via cartão. Com os dados, persistir em um banco de dados MySql e gerar um .csv agrupando so valores por município. </p>
        <p class="lead">
          <a th:href="@{/gastospagamentocartao}" class="btn btn-lg btn-default">Ir para consulta</a>
        </p>
      </div>
</section>
</html>